<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Anagram Checker</title>
    </head>
    <body>
        <div class = 'container'>
            <h1>Anagram Checker</h1>
            <p>Here are your results:</p>
            <!-- {% if  %} -->

        </div>
    </body>
</html>
